.searchbar{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 5px;
    min-width: 100%;
}

#search{
    font-size: 1.3rem;
    border-radius: 20px;
    display: block;
    width: 90%;
    padding: 5px 10px;
}

#searchButton{
    border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 5px;
}

#searchButton:hover{
    
    background-color: black;
    color: antiquewhite;
}




